.intro {
  margin-top: 10%;
  padding-bottom: 10%;
  border-bottom: 1px solid lightgray;

  .flex-it(space-between, baseline);

  h3 {
    font-size: 2rem;
    font-size: "Helvetica", sans-serif;
    // color: orangered;
    font-weight: 900;
    margin-bottom: 6%;
  }

  .description {
    .flex-it(flex-start, flex-start);
    flex-direction: column;
    width: 45%;

    p {
      font-size: 1.6rem;
      line-height: 1.25;
      margin-bottom: 5%;
    }
  }

  .stats {
    width: 40%;

    .num {
      margin-bottom: 5%;

      &-text {
        font-size: 2.6rem;
        font-weight: 700;
        color: orangered;
        margin-bottom: 3%;
      }

      &-desc {
        font-size: 1.8rem;
        font-weight: 500;
        color: gray;
        opacity: 0.75;
      }
    }
  }
}

.investors {
  margin-top: 6%;
  h2 {
    font-size: 2.4rem;
    font-weight: 900;
    margin-bottom: 0;
  }

  &-imgs {
    .flex-it(space-between, center);

    .logo-img {
      width: 20%;

      img {
        width: 100%;
      }
    }
  }
}
